---
layout: slide
title: Tankery's Slides
tags:
  - Presentation
  - Reveal.js
  - Tankery Chen
featured: true
published: true
---

<section data-markdown>
    ## Tankery's Slides

    Here is a collection for all sides made by [Tankery](http://tankery.me).
    Checkout them by click the navigator on bottom-right, or hit arrow keys.

    这里是 [Tankery](http://tankery.me) 的PPT合集。
    点击右下角的导航面板，或者使用键盘的方向键来浏览。
</section>

{% for post in site.posts %}
<section>
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    {% if post.preview %}
    {{ post.preview | markdownify }}
    {% endif %}
</section>
{% endfor %}

